<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alienasia.alienmw.dao.DeptInfoDAO">


	<select id="getList" resultType="com.alienasia.alienmw.dto.DeptInfoDTO">
		select  * FROM DEPT_INFO
		where dept_seq > 0

		<if test="dept_seq != null and dept_seq != '' ">
			and dept_seq = #{dept_seq}
		</if>
		<if test="name != null and name != '' ">
			and name like  CONCAT('%', #{name}, '%')
		</if>

	</select>


	<update id="update">
		<![CDATA[
		update DEPT_INFO
		set
			upd_date = now()
		  ,upd_user_id = #{upd_user_id}
		  ,address1 = #{address1}
		  ,address2 = #{address2}
		where DEPT_SEQ =  #{dept_seq}
		]]>
	</update>

</mapper>