# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../../:\Users\LG\IdeaProjects\alienmw\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
